<div id="bitcoin-address-template" class="bitcoin-address-container" style="display: none">

    <div>
        <span class="bitcoin-address"></span>
    </div>

    <a href="#" class="bitcoin-address-action bitcoin-address-action-send">
        <i class="fa fa-btc"></i>
        Pay from wallet
    </a>

    <a href="#" class="bitcoin-address-action bitcoin-address-action-copy">
        <i class="fa fa-copy"></i>
        Copy
    </a>

    <a href="#" class="bitcoin-address-action bitcoin-address-action-qr">
        <i class="fa fa-qrcode"></i>
        QR code
    </a>

    <div class="bitcoin-action-hint bitcoin-action-hint-send">
        Sending payment to the address from locally installed Bitcoin wallet app.
    </div>

    <div class="bitcoin-action-hint bitcoin-action-hint-copy">
        Press CTRL + C or &#x2318; + C to copy the Bitcoin address.
    </div>

    <div class="bitcoin-action-hint bitcoin-action-hint-qr">
        <p>
            Scan the QR code with your mobile Bitcoin app to
            make the payment:
        </p>

        <div class="bitcoin-address-qr-container">
            <!-- Filled in by JS on action click -->
        </div>
    </div>
</div>

<strong class="bitcoin-address"
    data-bc-amount="<%= @package.price_now_cents/100 %>"
    data-bc-label="<%= @package.name %>"
    data-bc-message="Thank you for buying <%= @package.name %>!"
    data-bc-address="2N881LxSSXxpx2ZZhhu7HUD1oQH79X9cXXq">2N881LxSSXxpx2ZZhhu7HUD1oQH79X9cXXq
</strong>

<p>
    <div>Total amount: <span data-price-eur="<%= @package.price_now_cents/100 %>"><%= @package.price_now_cents/100 %></span></div>
</p>
